torch==2.5.1
torchvision==0.20.1
torchaudio==2.5.1
torch-geometric==2.6.1

numpy==2.1.2
pandas==2.2.3
scipy==1.15.3
scikit-learn==1.7.2
tensorboard==2.18.0
tensorboardx==2.6.2.2
tqdm==4.66.6

# rdkit is recommended to install via conda-forge:
# conda install -c conda-forge rdkit==2024.09.2
